
.container{
  
  border: solid green 1px;
}


#header{
    font-size: 20px;
    background: #95d3ce;
}



#nav-bar{
    display: flex;
    /* padding:0 0 0 50px; */
    margin: 0 0 0 15rem;
    justify-content: space-around; 
    flex-wrap: wrap;
    
 
  
}

.nav-link{
    
    background: #b5d6a893;

   
   
}

a{
    text-decoration:none;
}







