
.container{
  
  border: solid green 1px;
}






#nav-bar{
    display: flex;
    padding:0 0 0 50px;
    justify-content: flex-end;  
 
  
}

#nav-link{
    
     
}

a{
    text-decoration:none;
}







